set_io LED1 99
set_io LED2 98
set_io LED3 97
set_io LED4 96
set_io LED5 95
set_io clk 21
set_io pixartclk 62
set_io i2c_sda 60
set_io i2c_scl 61
#set_io i2c_debug 56

set_io button 112
set_io edge_out 113
#set_io clk_out 48
